header {
    background-image: url(./images/bg-header-desktop.svg);
    background-repeat: repeat-x;
  }
  
@media only screen and (max-width: 640px){
  header {
    background-image: url(./images/bg-header-mobile.svg);
    background-repeat: repeat-x;
  }
}
